
@media (max-width: 1868) {
    

    #form {
        background-color: #a98467;
        margin: 250px 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    select {
        width: 45px;
        border: none;
        border-radius: 4px;
        background-color: #f1f1f1;
      }

}

@media (max-width: 768) {
    

    #form {
        background-color: #a98467;
        margin: 250px 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
}